<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>Label</key>
    <string>com.sharecare.ETL_Monthly_1st6am_CoachingDiscussions</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/brandon.boshers/Documents/dev/projects/coaching-call-discussions/run_coaching_refresh.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Day</key>
        <integer>1</integer>
        <key>Hour</key>
        <integer>6</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/brandon.boshers/Library/Logs/coaching-discussions.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/brandon.boshers/Library/Logs/coaching-discussions.log</string>

</dict>
</plist>
